button{
background-color: aqua;
}

p{
    background-color: blueviolet;
}
h1{
    background-color: darkmagenta;
}
div{
    background-color: rgb(50, 204, 119);
height:500px ;
width:100% ;


}
img{
background-color: darksalmon;
width:50% ;
height:400px ;

}

